<h2>Change Password</h2>
<form class="form-horizontal" name="changepassword"
	ng-controller="ChangePasswordController">
	<div class="control-group">
		<label class="control-label">Old Password</label>
		<div class="controls">
			<input type="password" class="input-medium" name="oldpassword"
				ng-model="changepassword.oldpassword" />
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">New Password</label>
		<div class="controls">
			<input type="password" class="input-medium" name="newpassword"
				ng-model="changepassword.newpassword" />
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">Confirm Password</label>
		<div class="controls">
			<input type="password" class="input-medium" name="confirmpassword"
				ng-model="changepassword.confirmpassword" />
		</div>
	</div>
	<div class="control-group">
		<div class="controls">
			<button class="btn btn-primary">Save</button>
			<button class="btn">Cancel</button>
		</div>
	</div>
</form>