<div class="row-fluid">
	<div class="span3" id="sidebar">
		<ul class="nav nav-list bs-docs-sidenav nav-collapse collapse">

			<li class="active"><a href="index.html"><i
					class="icon-chevron-right"></i> Dashboard</a></li>
			<li ng-class="{ active: $state.includes(settings.user.default)}"><a
				href="#/settings">Change Password</a></li>
			<li ng-class="{ active: $state.includes(settings.quotes)}"><a
				href="#/settings/quotes">Social</a></li>
		</ul>
	</div>

	<!--/span-->
	<div class="span9" id="content">
		<div class="row-fluid">
			<div ui-view></div>
		</div>
	</div>
</div>
